.video-player-container{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-player-wrapper{
    width: 100%;
}
.video-player__video{
    width: 100%;
    border-radius: 20px;
}
.video-player__title{
    width: 96%;
    font-size: 3rem;
    color: #fff;
    margin: 10px 2%;
}
.video-player__desc{
    width: 96%;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px 2%;
}
.recommendations{
    width: 70%;
    margin-top: 20px;
    display: grid;
}
@media(min-width: 1100px){
    .video-player-container{
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }
    .video-player-wrapper{
        width: 70%;
    }
    .recommendations{
        width: 25%;
        margin-top: 20px;
        margin-left: 5%;
    }
}