.video-player-container {
  width: 90%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-player-wrapper {
  width: 100%;
}

.video-player__video {
  width: 100%;
}

.video-player__title {
  width: 96%;
  font-size: 3rem;
  color: #fff;
  margin: 10px 2%;
}

.video-player__desc {
  width: 96%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 2%;
}

.recommendations {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.recommendations .video-thumbnail-wrapper {
  margin: 0;
}

@media (min-width: 1100px) {
  .video-player-container {
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }

  .video-player-wrapper {
    width: auto;
  }

  .recommendations {
    width: 350px;
    margin-left: 50px;
  }
}
